/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bs-gray);
}

div.vertical-center {
  min-height: 100%;
  /* Fallback for browsers that don't support vh unit */
  min-height: 100vh;
}

ol.breadcrumb {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  background-color: var(--bs-light);
  border-radius: 5px;
  border: 1px solid var(--bs-border-color);
}

ol.breadcrumb a {
  color: var(--bs-gray);
  text-decoration: none;
}

ol.breadcrumb a:hover {
  text-decoration: underline;
}


ol.breadcrumb li.active {
  color: var(--bs-gray-dark);
}

.arbitre {
  cursor: default;
  font-weight: 900 !important;
  user-select: none;
}

.flex-fill {
  flex: 1 1 auto;
}

.dashed-border {
  border-style: dashed !important;
}

.description {
  overflow-x: scroll;
}

/* button, .list-group, ol.breadcrumb, input {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.badge {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);;
} */

.editable-test {
  border: 2px solid transparent;
}

.editable-test:hover {
  background-color: var(--bs-gray-200);
  border-radius: 5px;
}

.editable-test-focused {
  background-color: var(--bs-gray-200);
  border-radius: 5px;
  border: 2px solid var(--bs-primary);
  box-sizing: border-box;

}

.markdown h1 {
  font-size: 2em;
  font-weight: 800;
}

.markdown h2 {
  font-size: 1.5em;
  font-weight: 700;
}

.markdown h3 {
  font-size: 1.17em;
  font-weight: 600;
}

.markdown h4 {
  font-size: 1em;
  font-weight: 500;
}

.markdown h5 {
  font-size: 0.83em;
  font-weight: 400;
}

.markdown h6 {
  font-size: 0.67em;
  font-weight: 300;
}

.markdown p, .markdown ul, .markdown ol, .markdown dl, .markdown table, .markdown blockquote, .markdown pre, .markdown hr {
  margin-bottom:12px;
}

.mardown p:last-child, .markdown ul:last-child, .markdown ol:last-child, .markdown dl:last-child, .markdown table:last-child, .markdown blockquote:last-child, .markdown pre:last-child, .markdown hr:last-child {
  margin-bottom: 0;
}

.markdown pre {
  background-color: #f3f4f6;
  border: 1px solid #e5e7eb;
  color: #607196;
  padding: 10px;
  border-radius: 5px;
}

.markdown img {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Remove caret from datalist input */
[list]::-webkit-calendar-picker-indicator {
  opacity: 0;
}