.jc-input-group {
    display: flex;
    align-items: center;
    font-family: var(--mono-font);
}

.jc-input-group>input {
    width: 2em;
    padding: 0.5em;
    margin-right: 0.3em;
    text-align: center;
    font-size: 2em;
    border: 1px solid var(--bs-gray-300);
    background-color: var(--bs-light);
    border-radius: 0.2em;
}

.jc-input-group>input::placeholder {
    color: var(--bs-gray-500);
}

.jc-input-group>input:focus::placeholder {
    color: transparent;
}

.jc-input-group>.jc-input-error {
    color: var(--bs-danger);
    border-color: var(--bs-danger);
}

#join-code{
    font-family: var(--mono-font);
    border: 1px solid var(--bs-gray-300);
    background-color: var(--bs-gray-200);
    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out, margin 0.2s ease-in-out;
}

#join-code:hover {
    cursor: pointer;
    border: 3px solid var(--bs-gray-500) !important;
    background-color: var(--bs-gray-400) !important;
    margin: -2px;
}