.jc-input-group {
    display: flex;
    align-items: center;
    font-family: var(--mono-font);
}

.jc-input-group>label:last-child,
.jc-input-group>span:last-child {
    margin-right: 0;
}

@media (min-width: 800px) {

    .jc-input-group>label,
    .jc-input-group>span {
        margin-right: 0.2em;
    }

    .jc-input-group>label:last-child,
    .jc-input-group>span:last-child {
        margin-right: 0;
    }
}

.jc-input-group>input {
    width: 2em;
    padding: 0.5em;
    margin-right: 0.3em;
    text-align: center;
    font-size: 2em;
    border: 1px solid var(--bs-gray-300);
    background-color: var(--bs-light);
    border-radius: 0.2em;
}

.jc-input-group>input::placeholder {
    color: var(--bs-gray-500);
}